@import "tailwindcss";

/* Al hacer este import tailwind hace lo siguiente */
/*
    @layer theme, base, components, utilities;
    @import "tailwind/theme.css" layer (theme);
    @import "tailwind/preflight.css" layer (base);
    @import "tailwind/utilities.css" layer (utilities);
*/

@theme {
    --color-Verde-Satria: #1A7155;
    --color-AmarilloClaro-Satria: #F3F4C5;
    --color-VerdeOscuro-Satria: #0D422E;
    --color-Negro-Satria: #151615;

    
    --font-Newake: 'Newake', sans-serif;
    --font-Poppins-Regular: 'poppins-regular', sans-serif;
    --font-Poppins-Light: 'poppins-light', sans-serif;
    --font-Poppins-Bold: 'poppins-bold', sans-serif;
}

@layer utilities {
    .Color-boton {
        background-image: linear-gradient(from 30deg, var(--color-VerdeOscuro-Satria), var(--color-Verde-Satria)) ;
    }
}


@font-face {
    font-family: newake;
    src: url('/src/assets/Fonts/newake/NewakeFont-Demo.otf');
}

@font-face {
    font-family: poppins-regular;
    src: url('/src/assets/Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-light;
    src: url('/src/assets/Fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('/src/assets/Fonts/Poppins/Poppins-Bold.ttf');
}