@import "tailwindcss";

/* Al hacer este import tailwind hace lo siguiente */
/*
    @layer theme, base, components, utilities;
    @import "tailwind/theme.css" layer (theme);
    @import "tailwind/preflight.css" layer (base);
    @import "tailwind/utilities.css" layer (utilities);
*/

@theme {
    --color-Verde-Satria: #1A7155;
    --color-AmarilloClaro-Satria: #F3F4C5;
    --color-VerdeOscuro-Satria: #0D422E;
    --color-Negro-Satria: #151615;
}

@layer {
    .boton {
        font-weight: 700;
        background-color: var(--color-VerdeOscuro-Satria);
        padding: 0.6rem 1.5rem;
        border-radius: 15px;
        transition: transform 0.5s, background-color 0.5s;
    }
    .boton:hover {
        box-shadow: 0 0 10px 10px rgba(10, 56, 36, 0.3);
        background-color: var(--color-Verde-Satria);
        transform: scale(1.1);
    }
}